@import url('variables.css');

@media (min-width: 320px) and (max-width: 767px) {
	.week__text {
		padding: 0 10px;
	    text-align: center;
	}

	.week__timetable {
		margin-top: 10px;
	}

	.week__cards {
	    display: grid;
	    grid-template-columns: 1fr; 
	    justify-items: center;
	    gap: 10px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.week__text {
		padding: 0 15px;
	}
}
