@import url('variables.css');

@media (min-width: 768px) and (max-width: 1024px) {
    .line {
        width: 1px;
        height: 50px;
        background-color: var(--green);
        margin: 0 20px;
    }

    .week__text {
    	padding: 0 20px;
    }

    .week__timetable {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    br {
        display: none;
    }

    .week__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 10px;
        align-items: start; 
    }
}
