:root {
	--roboto: "Roboto", sans-serif;
	--black: #000000;
	--dark-black: #333333;
	--white: #FFFFFF;
	--gray1: #EFEFEF;
	--gray2: #E0E0E0;
	--dark-gray: #666666;
	--purple: #5E4F9B;
	--green: #054C2C;
	--blue: #0000EE;
	--dark-blue: #0056B3;
}

body {
    font-family: var(--roboto);
}