@import url('reset_styles.css');
@import url('variables.css');
@import url('mobile.css');

.header {
    background-color: var(--purple);
    color: var(--white);
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header__group-name {
    font-size: 32px;
}

.header__search {
    padding: 10px;
}

.line {
	width: 1px;
	height: 50px;
    background-color: var(--green);
    margin: 0 20px;
}

.week {
	padding: 20px;
}

.week__name {
	display: flex;
	justify-content: center;
	align-items: center;
}

.week__text {
	padding-left: 30px;
	padding-right: 30px;
}

#prev-week,
#next-week {
	border: 1px solid var(--green);
	border-radius: 4px;	
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#prev-week:hover,
#next-week:hover {
    background-color: var(--gray1);
} 

.week__card {
    background-color: var(--white);
    border: 1px solid var(--gray2);
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.week__header {
    font-weight: 500;
    font-size: 16px;
    color: var(--purple);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 12px;
    margin-bottom: 12px;
    text-align: center;
}

.week__row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray2);
}

.week__row:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


.week__number {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-black);
}

.week__block-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 4px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.week__block-s {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
    white-space: nowrap;
}

.week__subject {
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-black);
}

.week__teacher {
    font-size: 14px;
    color: var(--dark-gray);
}

.week__link {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.3s ease;
}

.week__link:hover {
    color: var(--dark-blue);
}

.week__time {
    font-size: 14px;
    color: var(--dark-gray);
    text-align: right;
}

.week__room {
    font-size: 14px;
    color: var(--dark-gray);
    text-align: right;
}


.week__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}


.week__timetable {
    display: flex;
    justify-content: center;
}
