@import url('reset_styles.css');
@import url('colors.css');
@import url('desktop.css');
@import url('tablet.css');
@import url('mobile.css');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    transition: 0.3s ease;
}



body {
	background-color: var(--bg-main);
	color: var(--text-color);
	user-select: none;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 100vh;
}

main{
    padding: 20px 0;
    margin: auto;
}

a {
    display: inline-block; /* или block */
    padding: 12px 18px;
    background-color: var(--purple);
    color: var(--bg-container);
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

#main a{width: 100%; padding: 12px 0;margin: 4px 0}

a:hover {
    background-color: var(--dark-purple);
}

section{
    display: flex;
    align-items: flex-start;
    gap: 75px;
    flex-wrap: wrap;
    max-width: 1500px;
}

.container {
    background-color: var(--bg-container);
    border-radius: 16px;
    padding: 20px;
    min-width: 250px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main > .container>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#groups .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: auto;
    margin: 40px 0;
    box-shadow: none;
}
#groups .container:hover{box-shadow: 0 6px 16px var(--shadow-color);}

#schedule .container{
    min-height: auto;
    max-width: 400px;
    min-width: 400px;
}

img {
    width: 100px;
}

h1, h2, h3, h4, h5, h6{
    color: var(--purple); 
    cursor: default;
    border-bottom: 2px solid var(--purple);
    width: 100%;
    padding-bottom: 2px;
}
h1{font-size: 30px; border-bottom: 0;}
h2{font-size: 26px}
h3{font-size: 24px}
h4{font-size: 20px}
h5{font-size: 16px}
h6{font-size: 12px}

h4{margin-bottom: 10px; text-align: center;}

p {
    font-size: 14px;
    color: var(--light-gray);
}

.course_name {
    width: 100%;
    margin-bottom: 20px;
}

.groups {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.lesson-block {
    margin: 6px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--border);
}

.lesson-block:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.lesson-data {
    display: flex;
    flex-direction: column;
    width: 96%;
}

.subject-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.lesson-time {
    white-space: nowrap;
}

.lesson-name {color: var(--text-color);}

.teachers-block {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}