/* Обнуление стилей браузера */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

button, input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

p {
	margin: 0;
}

[hidden] {
	display: none !important;
}
