<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../static/js/get_groups.js" defer></script>
	<title>Выбор группы</title>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/mobile.css">
	<link rel="icon" href="../static/img/favicon.svg" type="image/png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<main id='groups'></main>
	<footer></footer>
</body>
</html>