<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Главная</title>
	<link rel="stylesheet" href="../static/css/base.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<main class="home">
		<div class="container">
			<img src="../static/img/logo.png" alt="Логотип колледжа ЧЭнК">
			<h1>Расписание занятий</h1>
			<p>Выберите комплекс:</p>
			<a href="/groups/Российская">Российская 23</a>
			<a href="/groups/Блюхера">Блюхера 91</a>
		</div>
	</main>
</body>
</html>